/* 设置导航栏 */
#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#nav ul {
    display: block;
    width: 100;
    height: 70px;
    background-image: url(/static/img/nav_background.jpg);
    background-position: 0% 38%;
}

#nav li {
    float: left;
}

#nav li a {
    display: block;
    width: 100px;
    text-decoration: none;    
}

#nav li a {
    text-align: center;
    color: black;
}