/* 设置导航栏 */
#nav ul {

    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#nav ul {
    background: rgb(182, 232, 255);
    background-position: 0% 38%;
}

#nav li {
    float: left;
    border-right: 1px solid rgb(212, 212, 212);
}

#nav #nav_about {
    border-left: 1px solid rgb(212, 212, 212);
}

#nav li a {
    display: block;
    width: 100px;
    text-decoration: none;    
}

#nav li a {
    text-align: center;
    padding: 20px 20px;
    color: black;
    font-size: 120%;
}

#nav li a:hover {
    background-color: rgb(128, 215, 255);
}

/* h2标题设置 */
h2 

/* 数据展示的表格部分 */
/* 设置数据总览和月数据的表格位置 */
table {
    border: 2px solid rgb(212, 212, 212);
    border-radius: 8px;
}

#totalHour_table {
    float: left;
}

#monthData_table {
    float: right;
}

table tr th {
    background-color: rgb(128, 215, 255);
    width: 150px;
    height: 40px;
}

table tr td {
    background-color: rgb(218, 243, 255);
    width: 150px;
    height: 25px;
}

table tr th, table tr td {
    border: 2px solid rgb(212, 212, 212);
    border-radius: 5px;
    text-align: center;
}

table tr td:hover {
    background-color: rgb(128, 215, 255);
}

table tr th:hover {
    background-color: rgb(128, 215, 255);
}