<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/img/main.ico">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <title>NyaAll - 所有歌曲信息页</title>
</head>
<body>
    <!-- 导航栏部分,所有数据在同一页面内 -->
    <header>
        <div id="nav">
            <ul>
                <li><a href="/">数据总览</a></li>
                <li><a href="/AllSong">所有歌曲</a></li>
                <li><a href="/song">单曲信息</a></li>
                <li><a href="/artist">歌手信息</a></li>
                <li><a id="dayAnchor" href="/day?day=">每日数据</a></li>
                <li style="float:right" id="nav_about"><a href="/about">关于</a></li>
            </ul>
        </div>
    </header>

    <!-- 所有歌曲信息表格全部由脚本写入 -->



<script>
        // 获取当日日期YYYYMMDD,写入a标签html
        function urlWrite() {
            const date = new Date();
            console.log(date);
            let nowDate = date.getFullYear();
            if (date.getMonth() + 1 <= 10) {
                nowDate += `0${date.getMonth() + 1}`;
            } else {
                nowDate += `${date.getMonth() + 1}`;
            };
            if (date.getDate() + 1 <= 10) {
                nowDate += `0${date.getDate()}`;
            } else {
                nowDate += `${date.getDate()}`;
            };
            console.log(nowDate); // 格式化为YYYYMMDD
            let dayAnchor = document.getElementById("dayAnchor");
            dayAnchor.href = `/day?day=${nowDate}`;
            console.log("每日数据url修改完成");
        };

        // 为歌曲增加表格
        function tableWrite(songData_array, songData, iSong) {
            let tableTh_array = ["歌曲名","播放时长","歌手","总播放次数","循环播放次数","首次播放日","最近播放日"];
            let table = document.createElement("table");
            let row;
            table.id = `songTable_${iSong}`;
            table.className = "allSong_table";
            for (let i = 0; i < 7; i++) {
                row = table.insertRow(-1);
                row.insertCell().innerText = tableTh_array[i];
                if (i == 0) {
                    row.insertCell().innerHTML = `<a href="/song?songname=${songData[i]}">${songData_array[i]}</a>`;
                } else if (i == 2) {
                    row.insertCell().innerHTML = `<a href="/artist?artist=${songData[i]}">${songData_array[i]}</a>`;
                } else if (i == 5 || i == 6) {
                    row.insertCell().innerHTML = `<a href="/day?day=${songData[i]}">${songData_array[i]}</a>`;
                } else {
                    row.insertCell().innerText = songData_array[i];
                }
                    
            };
            document.body.appendChild(table); // 将表格添加到DOM树
        };

        // 获取歌曲信息,foreverLove承接,嵌套列表,时长格式秒(转化为时分秒),日期格式YYYYMMDD
        // [ [0]歌曲名,[1]时长,[2]歌手,[3]总播放次数,[4]循环播放次数,[5]第一次播放日期,[6]最后一次播放日期 ]
        const foreverSong = {{foreverLove | tojson}}; // 总信息列表
        function foreverSong_search() {
            let songData;
            let songData_array = [];
            let songData_each;
            for (let iSong = 0; iSong < foreverSong.length; iSong++) {
                songData_array = [];
                songData = foreverSong[iSong];
                console.log(`第${iSong}首,曲名${songData[0]}`);
                for (let i = 0; i < songData.length; i++) {
                    songData_each = songData[i];
                    console.log(`编号${i},数据格式${typeof(songData_each)},歌曲信息${songData_each}`);
                    // [1]播放时长判断:时分秒写入
                    if (i == 1) {
                        let songData_hor = (songData_each - songData_each % 3600) / 3600;
                        let songData_min = (songData_each % 3600 - songData_each % 3600 % 60) / 60;
                        let songData_sec = songData_each % 3600 - songData_min * 60;
                        if (songData_hor > 0) {
                            songData_each = `${parseInt(songData_hor)}时${parseInt(songData_min)}分${parseInt(songData_sec)}秒`;
                        } else if (songData_min > 0) {
                            songData_each = `${parseInt(songData_min)}分${parseInt(songData_sec)}秒`;
                        } else if (songData_sec > 0) {
                            songData_each = `${parseInt(songData_sec)}秒`;
                        } else {
                            songData_each = `有点弱...再多听一会儿吧`;
                        }
                    // [2]多歌手判断:字符串,多歌手时用";"隔开(存疑)
                    } else if (i == 2) {
                        console.log("预留多歌手判断和写入跳转链接功能");
                    // [3][4]播放次数格式化
                    } else if (i == 3 || i == 4) {
                        songData_each = `${songData_each}次`
                    // [5][6]日期格式化
                    } else if (i == 5 || i == 6) {
                        songData_each = `${songData_each}`; // 转为字符串
                        songData_each = `${songData_each.substring(0,4)}年${songData_each.substring(4,6)}月${songData_each.substring(6,8)}日`;
                    }
                    console.log(`编号${i},歌曲信息(修改后)${songData_each}`);
                    songData_array.push(songData_each);
                };
                console.log(songData_array);
                console.log(`完成歌曲信息处理,执行写入函数`);
                tableWrite(songData_array, songData, iSong);
            };
        };

        window.addEventListener("DOMContentLoaded", function() {
            urlWrite();
            foreverSong_search();
        });
</script>
</body>
</html>