<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/img/main.ico">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <title>NyaDay - 每日数据展示</title>
</head>
<body>
    <script>
        // 获取当日日期YYYYMMDD
        function urlWrite() {
            const date = new Date();
            console.log(date);
            let nowDate = date.getFullYear();
            if (date.getMonth() + 1 < 10) {
                nowDate += `0${date.getMonth() + 1}`;
            } else {
                nowDate += `${date.getMonth() + 1}`;
            };
            if (date.getDate() + 1 < 10) {
                nowDate += `0${date.getDate()}`;
            } else {
                nowDate += `${date.getDate()}`;
            };
            console.log(nowDate);
            // 修改url
            (function() {
                const url = new URL(window.location.href);
                if (!url.searchParams.has("day")) {
                    url.searchParams.set("day", `${nowDate}`);
                }
                window.history.replaceState({}, "", url);
            })();
        };
    
    // 监听DOM,起到刷新时更新功能
    function onDOMReady(callback) {
        if (document.readyState === 'loading') {
            document.addEventListener('DOMContentLoaded', callback); // 还在加载中，监听事件
        } else {
            callback(); // 已经加载完成，立即执行
        };
    };

    onDOMReady(function() {
        urlWrite();
    });
    </script>
    <!-- 导航栏部分,所有数据在同一页面内 -->
    <header>
        <div id="nav">
            <ul>
                <li><a href="/">数据总览</a></li>
                <li><a href="/song">单曲信息</a></li>
                <li><a href="/artist">歌手信息</a></li>
                <li><a href="/day">每日数据</a></li>
                <li style="float:right" id="nav_about"><a href="/about">关于</a></li>
            </ul>
        </div>
    </header>
    <h2>每日数据</h2>
    <div id="day">
        <table id="dayTotal_table">
            <tr>
                <th>今日播放总时长</th>
            </tr>
        </table>
        <table id="dayEach_table">
            <tr>
                <th><a href="#" onclick="nameSort();return false">歌曲名</th>
                <th>播放次数</th>
            </tr>
        </table>
    </div>
    
    <!-- 脚本设置 -->
    <script>
        let dayTotal = {{day_total | tojson}}; // int或null,精确到分
        let dayEach = {{day_each | tojson}}; // dic或null,传递为完播歌曲
        let dayEach_name; // 歌曲名
        let dayEach_time; // 播放次数
        console.log(`本日播放${dayTotal}分`);
        console.log(`歌曲信息${dayEach}`);
        // 向总时长写入数据
        function dayTotal_write(dayTotal) {
            let table = document.getElementById("dayTotal_table");
            let newRow = table.insertRow(-1);
            let newCell = newRow.insertCell(0);
            newCell.innerText = `${dayTotal}`;
            console.log("已添加每日总时长至表格")
        };

        // 向每日歌曲信息写入数据(如有)
        function dayEach_write(dayEach_name, dayEach_time) {
            let table = document.getElementById("dayEach_table");
            let newRow = table.insertRow(-1);
            newRow.innerHTML = `
                <td><a href="/song?songname=${dayEach_name}">${dayEach_name}</td>
                <td>${dayEach_time}</td>`
            console.log("已添加歌曲信息至表格");
        };
        
        // 判断是否存在数据
        function dayBranch() {
            if (dayTotal == (null || undefined)) {
                // 无总时长
                dayTotal = `本日还没有听歌喵~`;
                dayEach_name = `本日还没有听歌喵~`;
                dayEach_time = `本日还没有听歌喵~`;
                console.log(`全部信息无`);
                dayTotal_write(dayTotal);
                dayEach_write(dayEach_name, dayEach_time);
            } else if (dayEach == (null || undefined)) {
                // 有总时长而无完播歌曲信息
                console.log(`完播歌曲信息无`);
                dayEach_name = `多听一会儿再来喵`;
                dayEach_time = `多听一会儿再来喵`;
                dayTotal += "分钟";
                dayTotal_write(dayTotal);
                dayEach_write(dayEach_name,dayEach_time);
            } else {
                // 均有
                dayTotal += `分钟`;
                console.log(`本日信息完全`);
                dayTotal_write(dayTotal);
                for (let key in dayEach) {
                    dayEach_time = dayEach[key][0];
                    console.log(`曲名${key},播放次数${dayEach_time}`)
                    dayEach_name = `${key}`;
                    dayEach_time = `${dayEach_time}次`;
                    dayEach_write(dayEach_name, dayEach_time);
                }
            };
        };

        // 更改按照歌曲名的排序方式
        function nameSort(dayEach) {
            let temporaryDic_name = {};
            let temporaryArr_name = [];
            for (let key in dayEach) {
                temporaryArr_name.unshift(key);
            }
            for (let i = 0; i < temporaryArr_name.length; i++) {
                temporaryDic_name[`${temporaryArr_name[i]}`] = `${dayEach[`${temporaryArr_name[i]}`]}`
            }
            dayEach = temporaryDic_name;
            dayBranch();
        }

        // DOM加载后,分割列表并执行对应函数
        window.addEventListener("DOMContentLoaded", function() {
            dayBranch();
        });
    </script>
    
</body>
</html>