<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/img/main.ico">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <title>NyaData - 播放数据展示</title>
</head>
<body>
    <!-- 导航栏部分,所有数据在同一页面内 -->
    <header>
        <div id="nav">
            <ul>
                <li><a href="/main">数据总览</a></li>
                <li><a href="/each">各歌曲信息</a></li>
                <li><a href="/about">关于</a></li>
            </ul>
        </div>
    </header>

    <!-- 各部分数据,用表格承接 -->
    <div id="all_data">
        <h2>数据总览</h2>
        <table id="all_data_table">
            <tr>
                <th>总播放时长</th>
            </tr>

        </table>
        <table id="month_data_table">
            <tr>
                <th>月份</th>
                <th>月播放时长</th>
            </tr>

        </table>
    </div>

    <!-- 脚本设置 -->
    <script>
        // 数据格式 总时长total_hours 本年年份year [月份,月数据,...]数组monthData
        // 使用flask接收json的变量
        const totalHour = {{total_hours|tojson}};
        const year = {{year|tojson}};
        const monthData = {{month_data|tojson}};

        // 获取总数据并写入表格
        window.addEventListener("DOMContentLoaded", function() {
            let table = document.getElementById("all_data_table");
            let newRow = table.insertRow();
            let new_data1 = newRow.insertCell();
            new_data1.innerText = `${totalHour}小时`;
        })

        // 获取各月份数据并写入表格
        window.addEventListener("DOMContentLoaded", function(){
            for (let i=0; i<(monthData.length-1); i++) {
                let month = monthData[i];
                let monthHour = monthData[i+1];
                let table = document.getElementById("month_data_table")
                let newRow = table.insertRow();
                let new_month = table.insertCell();
                let new_monthHour = table.insertCell();

                new_month.innerText = `${year}年${month}月`;
                new_monthHour.innerText = `${monthHour}小时`;
            }
        })

    </script>
</body>
</html>